ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: center;
  font-size: 16px;
}
  
.center_text {
  text-align: center; 
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1#versus {
  font-size: 120px;
  font-weight: 700;
}

.dropdown_compare {
  margin-top: 15%;
  list-style-type: none;
}

h1#cand_name {
  font-weight: 900;
  font-size: 60px;
}

.sponsors_divider {
  margin-top: 22.5%;
  margin-bottom: -17.5%;
}

div.sponsors_row {
  margin-top: 20%;
}

.sponsor_header {
  font-size: 45px;
}

div.top_row {
  margin-top: 2.5%;
}

h1.big_numbers{
  font-weight: 800;
}

.breakdown_row {
  margin-top: 30px;
}

.bold_headers{
  font-weight: 700;
}

.versus_row {
  margin-bottom: -15.5% ;
  margin-top: 10.5%;
}

/*nav_bar CSS*/
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

/*landing page css*/
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../public/img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.republican {
  position: relative;
}

.cand_img {
  display: inline;
  border-radius: 30px;
  position: absolute;
  left: 60%;
  top: 15%;
  border-style: solid;
  border-width: thick;
  border-color: #f05f40;
}

.bg-primary {
    background-color: #f05f40;
}

.result {
  margin-left: 30%;
}

.gsc-input {
  visibility: hidden;
}

.gsc-search-button {
  visibility: hidden;
}

.gsc-clear-button {
  visibility: hidden;
}

.gsc-configLabelCell {
  visibility: hidden;
}

.gsc-result-selector.gsc-more-results {
  visibility: hidden;
}

.gsc-result-selector.gsc-one-result {
  visibility: hidden;
}

.gsc-result-selector.gsc-all-results {
  visibility: hidden;
}

.gsc-title {
  visibility: hidden;
}

