ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: center;
  font-size: 16px;
}

.candidates-wrap {  
  margin-top: 5%;
}

#compare-btn {
  margin-left: -8%;
  margin-top: 86%;
}

.btn-group-2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 100px;
  margin-left: 9%;

}

.cand_img_compare {
  border-radius: 20%;
  height: 200px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  position: absolute;
  right: 25%;
  margin-top: -22.5%;

}

.cand_compare_img {
  position: relative;
}

.center_text {
  text-align: center; 
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h1#versus {
  font-size: 120px;
  font-weight: 700;

}

.right_compare_buttons{
  position: absolute;
  right: 22.5%;
}

.relative_cols {
  position: relative;
}

.comp_button {
  position: absolute;
  left: 42%;
  background-color: #D14719;
  border-color: #D14719;
}


.dropdown_compare {
  margin-top: 15%;
  list-style-type: none;
}


h1#cand_name {
  font-weight: 900;
  font-size: 70px;
}

.sponsors_divider {
  margin-top: 22.5%;
  margin-bottom: -17.5%;
}

div.sponsors_row {
  margin-top: 20%;
}

.compare_row {
  margin-top: 20%;
  margin-bottom: -2.5%;
}

.cand-compare-2 {
  margin-left: 3%;
}



.compare_background_img {
  background: url("../img/repub_vs_democrat_blur.jpg") no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: rgb(0,0,0,0.9);
}

.sponsor_header {
  font-size: 45px;
}

.fix_overflow_width {
   overflow-x: hidden;
}

.top_row {
  margin-top: 3%;
}

.big_numbers{
  font-weight: 800;
  font-size: 45px;
}

.breakdown_row {
  margin-top: 30px;
}

.bold_headers{
  font-weight: 700;
}

.versus_row {
  margin-bottom: -5.5% ;
  margin-top: 10.5%;
}

.row_compare_first {
  margin-top: -15%;
}

.compare_page_spacing_headers {
  margin-top: -17.5%;
  margin-bottom: 10%;
  font-size: 45px;
  font-weight: 800;
}


/*nav_bar CSS*/
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.navbar-brand {
  font-size: 26px;
  font-weight: 900;
}

.navbar-brand:hover {
  color: #3D69B4;
}

/*landing page css*/
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../public/img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.republican {
  position: relative;
}

.cand_profile {
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #f05f40;
}

.cand_profile_nancy {
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #f05f40;
  width: 217px;
  height: 215px;
}

.cand_img {
  display: inline;
  border-radius: 50%;
  position: absolute;
  left: 60%;
  top: 15%;
  border-style: solid;
  border-width: thick;
  border-color: #f05f40;
  height: 200px;
}

img:hover {
  border-color: #3D69B4;
}

@media all and (max-width: 1024px) {
    #profile {
        display:none;
    }
}

.show-big {
  margin-top: 30%;
}

.bg-primary {
    background-color: #f05f40;
}

.result {
  margin-left: 30%;
}

.gsc-input {
  visibility: hidden;
}

.gsc-search-button {
  visibility: hidden;
}

.gsc-clear-button {
  visibility: hidden;
}

.gsc-configLabelCell {
  visibility: hidden;
}

.gsc-result-selector.gsc-more-results {
  visibility: hidden;
}

.gsc-result-selector.gsc-one-result {
  visibility: hidden;
}

.gsc-result-selector.gsc-all-results {
  visibility: hidden;
}

.gsc-title {
  visibility: hidden;
}

.backToTop {
  position: fixed;
  display: none;
  left: 0;
  bottom: 0;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #f05f40;
  width: 100px;
  text-align: center;
  font-family: monospace, monospace;
  cursor: pointer;
}

