<div class="container-fluid">
  <div class="row top_row">
    <form action="/candidates/compare" method="POST"/>
      <div class="col-sm-4">
        <div class="form-group">
          <input for="cand1" type="radio" value="N00007360" name="cand1">PILOSI</option>
          <input for="cand1" type="radio" value="N00033085" name="cand1">CRUZ</option>
          <input for="cand1" type="radio" value="N00009975" name="cand1">GRAHAM</option>
          <input for="cand1" type="radio" value="N00030836" name="cand1">PAUL</option>
          <input for="cand1" type="radio" value="N00030612" name="cand1">RUBIO</option>
          <input for="cand1" type="radio" value="N00000019" name="cand1">CLINTON</option>
          <input for="cand1" type="radio" value="N00000528" name="cand1">SANDERS</option>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><button type="submit" class="btn btn-success">Compare</button></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
      <div class="form-group">
        <input for="cand2" type="radio" value="N00007360" name="cand2">PILOSI</option>
        <input for="cand2" type="radio" value="N00033085" name="cand2">CRUZ</option>
        <input for="cand2" type="radio" value="N00009975" name="cand2">GRAHAM</option>
        <input for="cand2" type="radio" value="N00030836" name="cand2">PAUL</option>
        <input for="cand2" type="radio" value="N00030612" name="cand2">RUBIO</option>
        <input for="cand2" type="radio" value="N00000019" name="cand2">CLINTON</option>
        <input for="cand2" type="radio" value="N00000528" name="cand2">SANDERS</option>
      </div>
      </div>
    </form>
  </div>
</div>