<div class="container-fluid">
  <div class="row top_row">
    <div class="col-sm-6"><h1 id="cand_name">Nancy Pelosi</h1></div>
    <div class="col-sm-6"><h1 id="cand_name">Bernie Sanders</h1></div>
  </div>
</div>