<div class="container-fluid">
  <div class="row top_row">
    <form action="/candidates/compare" method="POST"/>
      <div class="col-sm-5">
        <div class="btn-group" data-toggle="buttons">
          <% @candidates.each do |name, cand| %>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" value="<%= cand.id %>" name="cand1"> <%= cand.name %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="col-sm-2"><button type="submit" class="btn btn-success">Compare</option></button></div>
      <div class="col-sm-5"></div>
       <div class="btn-group" data-toggle="buttons">
          <% @candidates.each do |name, cand| %>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" value="<%= cand.id %>" name="cand2"> <%= cand.name %>
            </label>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>  