<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1><%= @cand_sum["cand_name"] %></h1><br>

      <h3>Total Donations Received</h3><br><p>$<%= @cand_sum["total"] %></p>
      <h3>Total Spent</h3><br><p>$<%= @cand_sum["spent"] %></p>
    </div>
    <div class="col-sm-4">
      <h3>
    </div>
  </div>
</div>




