<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="https://www.google.com/jsapi"
        type="text/javascript"></script>
  <script language="Javascript" type="text/javascript">

    google.load('search', '1');

    function OnLoad() {
      var searchControl = new google.search.SearchControl();

      var localSearch = new google.search.LocalSearch();
      searchControl.addSearcher(new google.search.NewsSearch());

      searchControl.draw(document.getElementById("searchcontrol"));


      searchControl.execute("United States presidential election");
      searchControl.setResultSetSize(2);
    }
    
    google.setOnLoadCallback(OnLoad);

    </script>
  
  <title>Poli Pocket</title>
</head>
<%= erb :nav_bar %>
<body>
  <%= yield %>
</body>
</html>
